.background__Image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.background__Image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.menu {
  position: absolute;
  top: 40px;
  left: 30px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  z-index: 1;
}
li {
  margin-right: 20px;
  color: black;
  font-family: "Kufam", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}
.left__Menu,
.right__Menu {
  list-style: none;
  display: flex;
  gap: 35px;
}

.left__Menu li,
.right__Menu li {
  cursor: pointer;
}
/* .travel__logo {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 1;
  height: 50px;
  width: 50px;

  background-color: #43a6c6;
}
.travel__logo img {
  mix-blend-mode: multiply;
} */
.bgImageContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;
  width: 48%;
  align-items: center;
  margin-left: 24rem;
}
.btn {
  display: inline-block;
  width: 135px;
  margin-top: 10px;
}
.imageContainer {
  position: absolute;
  top: 800px;
  left: 60px;
  width: 250px;
}
.images {
  display: flex;

  height: 350px;
  gap: 50px;
}
.popularContentImages {
  border-radius: 10px;
}
.popularContent {
  display: flex;
  position: absolute;
  left: 950px;
  top: 60px;
  flex-direction: column;
  width: 100%;
}
.popularContent h2 {
  font-family: "Kufam", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
  text-align: left;
  width: 142%;
}
.popularContent p {
  font-family: "Kufam", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.06px;
  text-align: left;
  width: 138%;
}
.popularContentBtn {
  background-color: #ffffff;
  position: absolute;
  bottom: 50%;
  left: 42px;
  font-family: "Kufam", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  padding: 8px;
}

.gallery_text {
  position: absolute;
  top: 1200px;
  left: 523px;
  font-family: "Kufam", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
  width: 450px;
  height: 47px;
}

.galleryImagesBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  top: 1300px;
  width: 80%;
  gap: 15px;
  left: 10%;
}

.galleryImagesBox img {
  flex: 1 1 calc((100% - 60px) / 3);
  width: calc((100% - 5 * 30px) / 3);
  height: 400px;
  margin-bottom: 15px;
  max-width: 350px;
}
.blogHeading {
  font-family: "Kufam", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
}
.blogContent {
  font-family: "Kufam", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.06px;
  text-align: center;
}
.cardContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
  margin-left: 18rem;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 14rem;
}
.container h2 {
  font-family: "Kufam", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
}
.container p {
  font-family: "Kufam", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: center;
}
.container button {
  font-family: "Kufam", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  background: #000000;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
